.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: sticky;
    top: 0;
    padding: 1rem;
}
.navbarLogo{
    color: white;
    font: 1.5em sans-serif;
    cursor: pointer;
}
.navbar-links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    background-color: transparent;
    margin: 0 1rem;
}
.navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.navbar-links a:hover{
    color: wheat;
}
.about-container { /* This makes the paragraph fully visible else it will show from center only */
  height: 100vh;        /* ✅ allow it to grow */
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* ✅ start from top */
  justify-content: flex-start;
  padding: 20px;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-icon{
  font-size: 2rem;
  color: white;
  cursor: pointer;
  width: 25px;
  height: 3px;
  background-color: white;
  display: none;
}

@media (max-width: 768px){
    .navbar-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .navbar-links.active{
        display: flex;
    }
    .menu-icon{
        display: block;
    }
}